pkgbase = linux-manjaro-xanmod
	pkgdesc = Linux Xanmod
	pkgver = 5.11.0
	pkgrel = 1
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = cpio
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = git
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.11.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.11.tar.sign
	source = https://github.com/xanmod/linux/releases/download/5.11.0-xanmod1/patch-5.11.0-xanmod1.xz
	source = choose-gcc-optimization.sh
	source = https://gitlab.manjaro.org/packages/core/linux511/-/archive/73245f163c55e0ea2ae246cb13f77ef86a5a61b7/linux511-73245f163c55e0ea2ae246cb13f77ef86a5a61b7.tar.gz
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = linux-manjaro-xanmod
	pkgdesc = The Linux kernel and modules with Xanmod and Manjaro patches (Bootsplash support). Ashmem and binder are enabled
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = initramfs
	depends = mkinitcpio>=27
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = bootsplash-systemd: for bootsplash functionality
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	conflicts = 
	replaces = 

pkgname = linux-manjaro-xanmod-headers
	pkgdesc = Header files and scripts for building modules for linux-manjaro-xanmod kernel
	provides = 
	conflicts = 
	replaces = 

